<%= form_for @entry do |f| %>

<p>
  <%= f.label :title, :class => 'form_text'%>
  <%= f.text_field :title, :class => 'comments' %>
</p>
<p>
  <%= f.label :comments, :class => 'form_text' %>
  <%= f.text_area :comments, :class => 'comments' %>
</p>
<p>
  <%= f.label :sparring_partners, :class => 'form_text' %>
  <%= f.text_field :sparring_partners, :class => 'comments'  %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
