<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h2><%= @entry.title %> : <%= @entry.created_at.strftime("%B %d, %Y") %></p></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="well items">
      <h3>Comments and feelings</h3>
      <p><%= @entry.comments %></p>
      <%= link_to 'Edit Entry', edit_entry_path, :class => "btn btn-success" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well items">
      <h3>Techniques</h3>
        <% @technique.each do |technique| %>
          <% if can? :read, technique %>
            <% if technique.entry_id == @entry.id %>
              <p><%= link_to technique.name, entry_technique_path(@entry, technique) %></p>
            <% end %>
          <% end %>
        <% end %>
        <p><%= link_to 'Add a Technique', new_entry_technique_path(@entry), :class => "btn btn-success"%></p>
    </div>
  </div>
</div>
