<div class="container">
  <div class="well">
    <h2><%= @entry.title %> : <%= @entry.created_at.strftime("%B %d, %Y") %></p></h2>
  </div>

<div class="row">
  <div class="col-md-6">
    <div class="well items">
      <h3>Comments and feelings</h3>
      <p><%= @entry.comments %></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well items">
      <h3>Techniques</h3>
        <% @technique.each do |technique| %>
        <% if technique.entry_id == @entry.id %>
          <p><%= link_to technique.name, entry_technique_path(@entry, technique) %></p>
        <% end %>
        <% end %>
        <p><%= link_to 'Add a Technique', new_entry_technique_path(@entry), :class => "btn btn-default"%></p>
    </div>
  </div>
</div>
</div>
<%= link_to 'Edit Entry', edit_entry_path %>
