<%= form_for ([@entry, @technique]) do |f| %>
<p>
  <%= f.label :name, :class => 'form_text' %>
  <%= f.text_field :name, :class => 'comments'  %>
</p>
<p>
  <%= f.label :description, :class => 'form_text' %>
  <%= f.text_area :description, :class => 'comments'  %>
</p>
<p>
  <%= f.label :video_url, :class => 'form_text'%>
  <%= f.text_field :video_url, :class => 'comments' %>
</p>
<p>
  <%= f.label :roadmap_id %>
  <%= f.collection_select :roadmap_id, @roadmap, :id, :category%>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
