<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jiujitsu Journal</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Shadows+Into+Light' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:600italic' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <!-- <div class="user-info"> -->
              <% if current_user %>
                <li role="presentation"><a><%= current_user.email %></a></li>
                <li role="presentation"><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <%= link_to 'Signup', new_user_registration_path %>
                <%= link_to 'Login', new_user_session_path %>
              <% end %>
            <!-- </div> -->
            <!-- <li role="presentation" class="active"><a href="#">Main</a></li>
            <li role="presentation"><a href="#">Sign In</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted"><%= link_to 'JiuJitsuJournal', entries_path%></h3>
      </div>

      <div class="jumbotron">

        <h1>Jiujitsu Journal</h1>
      </div>
      <div class="bottom_nav">
        <nav>
          <ul class="nav nav-pills pull_center">
            <li><%= link_to 'Entry Home', entries_path%></li>
            <li><%= link_to 'Roadmap', roadmaps_path%></li>
          </ul>
        </nav>
      </div>


      <%= yield %>

      <footer class="footer">
        <p>Project 2 - EJS</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>


  <!-- <h1> Jiujitsu Journal </h1>
  <%= link_to 'Entry Home', entries_path %>

  <nav>
    <div class="user-info">
      <% if current_user %>
        Welcome, <%= current_user.email %>
        <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Signup', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



 -->
